
.bg { 
    background: linear-gradient(to bottom, transparent, white), url("imgs/Produce.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;

}

.bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bg img {
    width: 40%;
    /* margin: 4%; */
}

.hpButtonRow {
    margin-top: 50px;
}

.hpButtons {
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}
.hpButtons .curved{
    background-color: red;
    border-radius: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.hpButtons img {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@keyframes slide-down {
    from {
        transform: translateY(-200%);
        opacity: 0%;
    }
  
    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}
.slide-down {
    animation-delay: 0s, 2s;
    animation: 2s slide-down ease-out;
}
